<hx-partial hx-target="#status" hx-swap="innerMorph">{{>console/status}}</hx-partial>
<hx-partial hx-target="#flow" hx-swap="innerMorph">{{>console/flow}}</hx-partial>
<hx-partial hx-target="#clients" hx-swap="innerMorph">{{>console/clients}}</hx-partial>
<hx-partial hx-target="#routes" hx-swap="innerMorph">{{>console/routes}}</hx-partial>
<hx-partial hx-target="#cluster" hx-swap="innerMorph">{{>console/cluster}}</hx-partial>
